/* .header {
    background: #264653;
} */

.bz-bd-hover .border:hover {
    border-color: #ff00002b !important;
}

.bz-bg-hover:hover {
    background-color: #f2f2f236;
}

.header-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/slider/ride-bike.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}